/* 
    Document   : inner_global
    Created on : Sep 23, 2013, 5:33:31 PM
    Author     : developer
    Description:
        Purpose of the stylesheet follows.
*/
.layout { padding: 50px; font-family: Georgia, serif; }
.layout-slider { margin-bottom: 60px; width: 50%; }
.layout-slider-settings { font-size: 12px; padding-bottom: 10px; }
.layout-slider-settings pre { font-family: Courier; }

